.form {
  border: 1px solid #2a2a2a;
  border-radius: 2px;
  padding: 8px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.group {
  display: flex;
  flex-direction: column;
  width: 100%;
}
